@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nova+Square&display=swap');


.top {
  display: flex;
  height: 24px;
  padding: 40px 10px 50px 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.h3 {
  margin: 0;
  color: #d3d2e7;
  font-family: Nova Square;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.link_conteiner{
  display: none;
}

.wallet_conteiner {
  padding: 15px 30px 15px 30px;
  border-radius: 24px;
  background: linear-gradient(95deg, #4f126c 2.33%, #d40b0b 103.2%);
  border: 0;
  cursor: pointer;
  z-index: 1;
  
}

.wallet_connect {
  /* padding: 5px 7px 7px 7px; */
  color: #dad9ff;
  text-align: center;
  font-family: Nova Square;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  

}


.welcome1 {
  margin: 0;
  padding: 50px 0 0 0;
  color: #d3d2e7;
  text-align: center;
  font-family: Nova Square;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.welcome {
  margin: 0;
  color: #d3d2e7;
  text-align: center;
  font-family: Nova Square;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* padding: 0 0 45px 0; */

  
}


.link_conteiner_mobile{
 padding: 20px 20% 0 20%;
 display: flex;
 justify-content: space-between;
}


.img_for_link_mobile{
  width: 40px;
  height: 40px;
}


.countdown-container{
  display: none;
}













.mint_container{
 width: 200px;
}

.mint_h2{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.mint_p{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.amount_text{
display: none;
}



.counter{
width: 100%;
display: flex;
justify-content: space-between;
padding: 20px 0 20px 0;
color: #FFF;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
font-family: Nova Square;
}

.counter_decrement{
  background: linear-gradient(95deg, #4f126c 2.33%, #d40b0b 103.2%);

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.counter_increment{
  background: linear-gradient(95deg, #4f126c 2.33%, #d40b0b 103.2%);

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.counter_span{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.counter_mint_button{
  color: #262433;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
  padding: 5px 10px 5px 10px;
}


.text-container {
  position: fixed;

  right: -100%; 
  

  background-color: #f0f0f0;
  transition: right 0.5s ease-in-out;
}

.text-container.show {
  right: 0;
}

.text-container.hide {
  right: -100%;
}



.text-container{
  background-color: #4B4141;
  
  padding: 20px 50px 0 50px;
  margin: 2% 3% 0 0;
  border-radius: 21px;
  z-index: 1;
}




.mint_status{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
  
}

.counter_mint_button{
  color: #262433;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
  padding: 5px 10px 5px 10px;
}









@media (min-width: 375px) {
  .text-container{
    padding: 20px 50px 0 50px;
    margin: 3% 9% 0 0;
  }
}

@media (min-width: 425px) {
  .text-container{
    padding: 20px 50px 0 50px;
    margin: 3% 14% 0 0;
  }
}





















@media (min-width: 768px) {

.link_conteiner{
  display: block;
}

.link_conteiner_mobile{
  display: none;
}


.top {
  display: flex;
  height: 24px;
  padding: 30px 20px 0 20px;
  justify-content: space-between;
}

.h3 {
  margin: 0;
  color: #d3d2e7;
  font-family: Nova Square;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}



.link {
    align-items: center;

}

.img_for_link {
  padding: 0 10px 0 10px;
  width: 60px;
  height: 60px;
  
}

.wallet_conteiner {
  padding: 15px 30px 15px 30px;
  border-radius: 24px;
  background: linear-gradient(95deg, #4f126c 2.33%, #d40b0b 103.2%);
  border: 0;
  cursor: pointer;
  z-index: 1;
  
}

.wallet_connect {
  /* padding: 5px 7px 7px 7px; */
  color: #dad9ff;
  text-align: center;
  font-family: Nova Square;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  

}



.middle{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;

}


.middle-left{
  /* padding: 0 0 0 5%; */
  flex-basis: 65%;
}

.middle-right{
  flex-basis: 35%;
  padding: 170px 0 0 0;


}



.welcome1 {
  margin: 0;
  padding: 150px 0 0 0;
  color: #d3d2e7;
  text-align: center;
  font-family: Nova Square;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.welcome {
  margin: 0;
  color: #d3d2e7;
  text-align: center;
  font-family: Nova Square;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 45px 0;

  
}






.countdown-container{
  display: flex;
  justify-content: space-between;
  padding: 3% 3% 2% 3%;
  
}


.countdown-item{
  background-color: #4B4141;
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
}

.countdown-value{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
  font-size: 50px;


}






.text-slider {
  text-align: center;
  
}



.text-container {
  position: fixed;

  right: -100%; /* Initially, set it to be completely off-screen */
  height: 50%;
 /* Adjust this width as needed */
  background-color: #f0f0f0;
  transition: right 0.5s ease-in-out;
}

.text-container.show {
  right: 0;
}

.text-container.hide {
  right: -100%;
}

.text-content {
  padding: 20px;
}


.text-container{
  background-color: #4B4141;
  padding: 10px 30px 10px 30px;
  margin: 0 2% 0 0;
  border-radius: 21px;
  z-index: 1;
}





.mint_h2{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.mint_p{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.mint_status{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
  
}



.counter{
width: 100%;
display: flex;
justify-content: space-between;
padding: 20px 0 20px 0;
color: #FFF;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
font-family: Nova Square;
}

.counter_decrement{
  background: linear-gradient(95deg, #4f126c 2.33%, #d40b0b 103.2%);

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.counter_increment{
  background: linear-gradient(95deg, #4f126c 2.33%, #d40b0b 103.2%);

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.counter_span{
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
}

.counter_mint_button{
  color: #262433;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: Nova Square;
  padding: 5px 10px 5px 10px;
}







.amount_container{
  background: linear-gradient(95deg, #4f126c 2.33%, #d40b0b 103.2%);
  border-radius: 24px;
   margin: 0 3% 0 3%;
   
   
}


.amount_text{
  color: white;
  padding: 3px 0 3px 0;
  font-family: Nova Square;
  display: block;
}



/* //////////////////////////// Верстка desctop/laptop  ///////////////////////////////////// */



/* Block 1920x1080 */



/* Block 1920x1080 */

  
}

@media (min-width: 778px) {

  .amount_text{
     margin: 12% 0 0 0;
  }
 
}




@media (min-width: 1024px) {

 .amount_text{
    margin: 10% 0 0 0;
 }

}

@media (min-width: 1440px) {


  .welcome1{
   font-size: 90px;
  }
 
 
  .welcome{
   font-size: 90px;
  }
 
  .amount_text{
     margin: 3% 0 0 0;
  }
 
 
  .countdown-item{

    width: 100px;
    height: 100px;

  }
  
  .countdown-value{
    font-size: 70px;
  
  
  }

  .mint_container{
    width: 300px;
   }
 
 
 
 
 
 }



